nav {
  font-size: 15px;
  margin: 10px 0 80px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 20px;
}
footer {
  font-size: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #ddffc445;
  text-align: center;
  padding: 2.5px 0;
  color: #000;
  font-weight: bold;
  z-index: 1;
}

/* responsive */
@media (min-width: 768px) {
  nav {
    font-size: 17.5px;
  }
  footer {
    font-size: 12.5px;
  }
}
